.App {
  text-align: center;
  background-color: black;
  color: white;
}

.logo
{
  height: 80px;
}

#combutton 
{
  height: 40px;
  margin: 20px;
}

#content 
{
  background-color: #242424;
  height: 100vh;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}